{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heating</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="icon" type="image/png" href="{% static 'main/img/Logo.ico' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/Logo.png' %}" alt="">
        <span class="logo">Heating</span><br>
        <span class="logoDowm">System</span>
        <br>
        <h3>Меню</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i>Головна</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i>Про нас</li></a>
            <a href="{% url 'calculation' %}"><li><i class="fas fa-paper-plane"></i>Калькулятор</li></a>
            <a href="https://github.com/VitaliiParkhomchuk/Coursework"><li style="margin-top: 25px; margin-right: 40px; margin-right: 100;"><img src="{% static 'main/img/pngfind.com-github-logo-png-405209.png' %}" alt="" style="width: 25px; height: 20px; margin-bottom: 5px; margin-top: 0; margin-top: 5px; margin-left: 0;"></i>GitHub</li></a>
        </ul>
    </aside>
    <main>
        <div class="features">
            <h1>Main page</h1>
            <p>Ласкаво просимо на наш сайт для обрахунку опалення!
                З використанням нашого онлайн-калькулятора ви зможете швидко та зручно розрахувати витрати на опалення 
                вашого приміщення в залежності від зміни температури. Наш інструмент дозволить вам точно визначити 
                оптимальний режим опалення для забезпечення комфортної температури в вашому будинку або офісі, ефективно 
                використовуючи енергію та зменшуючи витрати. Не витрачайте зайвої енергії та грошей – скористайтеся нашим 
                сервісом, щоб забезпечити оптимальний тепловий режим у вашому приміщенні! Досягніть ідеальної комфортної 
                атмосфери з легкістю за допомогою нашого сайту для обрахунку опалення.</p>
            <a href="{% url 'calculation' %}"><button class="btn btn-success"><img src="{% static 'main/img/calculator.png' %}" alt="" style="width: 20px; height: 20px; margin: 0;">Калькулятор</button></a>
        </div>
    </main>
    <footer>
        <table>
            <tr>
                <td><h4>Ми в соц-мережах:</h4></td>
                <td><h4>Контакти:</h4></td>
            </tr>
            <tr>
                <td class="td_footer"><a href="https://www.instagram.com/nuwee_official/" target="_blank"><img src="{% static 'main/img/Instagram.png' %}" alt=""><h5>Instagram</h5></a></td>
                <td class="td_footer"><a href="tel:+123456789"><img src="{% static 'main/img/PhoneNumber.png' %}" alt="" style="width: 25px; height: 25px; margin-left: -2px;"><h5>Phone number</h5></a></td>
            </tr>
            <tr>
                <td class="td_footer"><a href="https://t.me/s/nuwee_official?q=%23%D0%BD%D0%BE%D0%B2%D0%B8%D0%BD%D0%B8%D0%9D%D0%A3%D0%92%D0%93%D0%9F" target="_blank"><img src="{% static 'main/img/Telegram.png' %}" alt=""><h5>Telegram</h5></td>
                <td class="td_footer"><a href="https://nuwm.edu.ua/university/kontakti" target="_blank"><img src="{% static 'main/img/Email.png' %}" alt="" style="width: 25px; height: 25px; margin-left: -2px;"><h5>Email</h5></a></td>
            </tr>
            <tr>
                <td class="td_footer"><a href="https://www.facebook.com/www.nuwm.edu.ua/?locale=uk_UA" target="_blank"><img src="{% static 'main/img/Facebook.png' %}" alt="" style="margin-bottom: 10px;"><h5>Facebook</h5></a></td>
                <td class="td_footer"><a href="https://www.google.com/maps/place/%D0%9D%D0%B0%D1%86%D1%96%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%B8%D0%B9+%D1%83%D0%BD%D1%96%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82+%D0%B2%D0%BE%D0%B4%D0%BD%D0%BE%D0%B3%D0%BE+%D0%B3%D0%BE%D1%81%D0%BF%D0%BE%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B0+%D1%82%D0%B0+%D0%BF%D1%80%D0%B8%D1%80%D0%BE%D0%B4%D0%BE%D0%BA%D0%BE%D1%80%D0%B8%D1%81%D1%82%D1%83%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F/@50.6179511,26.2586565,15z/data=!4m2!3m1!1s0x0:0x4d65c704c32f0238?sa=X&ved=1t:2428&ictx=111" target="_blank"><img src="{% static 'main/img/Address.png' %}" alt="" style="width: 15px; margin-left: 3px;"><h5>Address</h5></a></td>
            </tr>
        </table>
        <img src="{% static 'main/img/nuwmLogoUK.png'%}" alt="" class="logo">
    </footer>
</body>
</html>