{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heating</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="icon" type="image/png" href="{% static 'main/img/Logo.ico' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/Logo.png' %}" alt="">
        <span class="logo">Heating</span><br>
        <span class="logoDowm">System</span>
        <br>
        <h3>Меню</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i>Головна</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i>Про нас</li></a>
            <a href="{% url 'calculator' %}"><li><i class="fas fa-paper-plane"></i>Калькулятор</li></a>
            <a href=""><li><i class="fas fa-paper-plane"></i>Контакти</li></a>
        </ul>
    </aside>
    <main>
        <div class="features">
            <h1>Main page</h1>
            <p>Ласкаво просимо на наш сайт для обрахунку опалення!
                З використанням нашого онлайн-калькулятора ви зможете швидко та зручно розрахувати витрати на опалення 
                вашого приміщення в залежності від зміни температури. Наш інструмент дозволить вам точно визначити 
                оптимальний режим опалення для забезпечення комфортної температури в вашому будинку або офісі, ефективно 
                використовуючи енергію та зменшуючи витрати. Не витрачайте зайвої енергії та грошей – скористайтеся нашим 
                сервісом, щоб забезпечити оптимальний тепловий режим у вашому приміщенні! Досягніть ідеальної комфортної 
                атмосфери з легкістю за допомогою нашого сайту для обрахунку опалення.</p>
            <a href="{% url 'calculation' %}"><button class="btn btn-success"><img src="{% static 'main/img/calculator.png' %}" alt="" style="width: 20px; height: 20px; margin: 0;">Калькулятор</button></a>
        </div>
    </main>
    <footer>
        <table>
            <tr>
                <td><h4>Ми в соц-мережах:</h4></td>
                <td><h4>Контакти:</h4></td>
            </tr>
            <tr>
                <td><img src="{% static 'main/img/Instagram.png' %}" alt=""><h5>Instagram</h5></td>
                <td><img src="{% static 'main/img/PhoneNumber.png' %}" alt="" style="width: 25px; height: 25px; margin-left: -2px;"><h5>Phone number</h5></td>
            </tr>
            <tr>
                <td><img src="{% static 'main/img/Telegram.png' %}" alt=""><h5>Telegram</h5></td>
                <td><img src="{% static 'main/img/Email.png' %}" alt="" style="width: 25px; height: 25px; margin-left: -2px;"><h5>Email</h5></td>
            </tr>
            <tr>
                <td><img src="{% static 'main/img/Facebook.png' %}" alt="" style="margin-bottom: 10px;"><h5>Facebook</h5></td>
                <td><img src="{% static 'main/img/Address.png' %}" alt="" style="width: 15px; margin-left: 3px;"><h5>Address</h5></td>
            </tr>
        </table>
        <img src="{% static 'main/img/nuwmLogoUK.png'%}" alt="" class="logo">
    </footer>
</body>
</html>